[submodule "Font-Awesome"]
	path = dep/Font-Awesome
	url = https://github.com/FortAwesome/Font-Awesome
[submodule "normalize.css"]
	path = dep/normalize.css
	url = https://github.com/necolas/normalize.css/
